@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merienda One', 'Brush Script MT', cursive;
    font-weight: 300;
    min-height: 100vh;
    color: #3a3a3a;
}

/*headings and logo*/

h1,
h2 {
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
}

#site-logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#site-logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* donut image and cover text */

#donut-outer {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #fff;
}

#donut-image {
    height: 400px;
    width: 100%;
    background: url(../images/donuts.webp) no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for donut image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 300px;
    height: 200px;

    padding-top: 20px;
    padding-left: 10px;
    border-radius: 15px;

    background-color: rgba(126, 167, 230, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

#shop {
    text-align: center;
    margin: 20px 0;
    font-size: 250%;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

li {
    list-style-type: none;
}

#donut-menu {
    padding: 1rem 0;
    margin-bottom: 80px;
    width: 100%;
    display: flow-root;
    background: url(../images/donut-bg.webp) center center / cover no-repeat
        fixed;
}

#donut-menu h2 {
    text-align: left;
    padding-left: 150px;
    text-decoration: underline;
    color: rgb(247, 60, 60);
}

#frosting {
    background-color: rgba(165, 42, 42, 0.7);
    position: relative;
    clear: both;
    left: 70px;
    top: -15px;
    display: block;
}

#sprinkles {
    background-color: rgba(173, 74, 74, 0.7);
    position: relative;
    clear: both;
    margin-top: 10px;
    margin-left: 70px;
    display: block;
}

#flavors {
    background-color: rgba(252, 128, 128, 0.7);
    position: relative;
    clear: both;
    left: 70px;
    margin-top: 30px;
    display: block;
}

.text-center {
    text-align: center;
}

#right-column {
    padding: 10px 5% 0 5%;
    width: 100%;
    float: right;
}

.header-right {
    text-align: center;
    width: 100%;
    float: right;
    line-height: 2rem;
    clear: both;
}

.header-right > p {
    width: 25%;
    margin: 20px 0 20px 36%;
}
.donuts {
    width: 20%;
    margin: 1rem 0;
    display: block;
    color: #fff;
}
/*contact site*/
.form-background {
    clear: left;
    background: url(../images/donut-bg.webp) center center / cover no-repeat
        fixed;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    text-align: center;
    background-color: #3c3c3c80;
    height: 630px;
    max-width: 400px;
    position: absolute;
    float: left;
    left: 33%;
    padding: 50px;
    border-radius: 10px;
}

/*about site*/
.about-form {
    margin: 76px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.5);
    height: 520px;
    max-width: 500px;
    position: absolute;
    top: 0;
    float: left;
    left: 33%;
    padding: 20px;
    border-radius: 10px;
}

.about-form h2 {
    color: #fff;
    text-align: center;
}

.signup-form h2 {
    color: #fff;
    text-align: center;
}

.input-label {
    background: transparent;
    color: #000;
    background-color: #fff;
    width: 100%;
    height: 35px;
    margin: 5px 0 20px 0;
    border-radius: 5px;
}

.submit-button {
    margin-top: 10px;
    margin-left: 33%;
    border-radius: 4px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(165, 42, 42, 0.7);
    color: #fafafa;
    display: block;
}

.block-label {
    margin-left: 20px;
}
textarea {
    width: 100%;
    height: 130px;
    margin-top: 10px;
    resize: none;
    border-radius: 5px;
}

#video-bg {
    top: 100px;
    height: 520px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
video {
    /** Simulationg background-size: cover */
    object-fit: cover;
}

/* footer */

footer {
    height: 120px;
    width: 100%;
    position: relative;
    bottom: 10px;
}

.social-networks {
    text-align: center;
    height: 100%;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 250%;
    padding: 0% 5% 0 5%;
    margin-top: 40px;
    color: #3a3a3a;
}

@media screen and (max-width: 1200px) {
    #cover-text {
        text-align: center;
        font-size: 100%;
        height: 150px;
        right: 30px;
    }
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }
    #site-logo {
        font-size: 150%;
    }
    #shop,
    h2 {
        font-size: 125%;
        text-align: center;
    }
    #site-logo {
        text-align: center;
        float: left;
        margin-left: 50px;
    }
    #donut-menu h2 {
        margin-left: 50px;
        padding-left: 25px;
    }
    .header-right > p {
        text-align: center;
        width: 75%;
        margin-left: 25px;
    }

    .donuts {
        width: 50%;
    }

    .about-form {
        margin: 150px 0 0 0;
        height: 400px;
        width: 320px;
        left: 6%;
        padding: 10px;
    }

    .about-form h2 {
        font-size: 100%;
    }
    .signup-form {
        margin: 50px 10% 0 0;
        left: 10%;
    }
    .submit-button {
        margin-left: 20%;
    }
    textarea {
        height: 110px;
    }
}

@media screen and (max-width: 400px) {

    #menu {
        clear: left;
        float: left;
        font-size: 100%;
        line-height: 20px;
    }
    #cover-text {
        text-align: center;
        font-size: 100%;
        height: 120px;
        right: 30px;
        
    }
    #shop,
    h2 {
        font-size: 100%;
        text-align: center;
    }
}

@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
    h1,
    h2 {
        font-size: 1rem;
    }
    #donut-menu h2 {
        margin-left: 50px;
        padding-left: 25px;
    }
}